
/* Your CSS Code here. */
/* Style main element */
main.accio#job {
    width: 150px;
    height: 150px;
    background-color: #000000;
}

/* Style paragraph */
.hello-accio {
    color: #ffffff;
    margin-left: 32px;
    padding: 10px;
}
